.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    align-items: center;
    background: white;
    color:#272727;
    box-shadow: 0 1px 3px -2px #111111;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: #272727;
    font-size: 30px;
    font-weight: 500;
    font-family:"Unbounded";
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #272727;
    font-size: 20px;
    font-weight: 700;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color: #272727;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    background: #272727;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    padding: 10px 30px;
    background-color: #272727;
    border: none;
    border-radius: 8px;;
    font-family: "DM Sans", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

.nav-login-cart p{
    padding: 10px 30px;
    font-family: "DM Sans", sans-serif;
    color: #272727;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-login-cart button:active{
    color: #272727;
    background-color: #F5F5f5;
}

.nav-dropdown{
    display: none;
}

@media(max-width:1280px) {
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart{
        width: 120px;
        height:45px;
        font-size: 16px;
        gap:30px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
    .nav-login-cart button{
        white-space: nowrap;
        padding: 6px 15px;
        font-size: 12px;
    }

    .nav-login-cart Link {
        font-size: 12px;
    }
}

@media(max-width:1024px) {
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 10px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
        white-space: nowrap;
    }
    .nav-login-cart img{
        width: 30px;
        height: auto;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }

    .nav-login-cart button {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        font-size: 12px; 
    }
}

@media (max-width:800px) {
    .navbar{
        padding:10px 0px;
    }
    .nav-dropdown{
        display: block;
        width: 20px;
        height: auto;
        rotate: -90deg;
        transition: 0.5s;
        z-index: 2;
        right: 0px;
    }

    .nav-login-cart button {
        width: 100%; 
        font-size: 12px; 
    }
    .nav-menu{
        display: none;
        height: 88px;
        width: 100%;
        position: absolute;
        background: white;
        justify-content: center;
        top: 80px;
        box-shadow: 0 1px 3px -2px #111111;
    }
    .nav-menu-visible{
        display: flex;

    }
    

    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}

@media (max-width:500px) {
    .navbar{
        width: 8px 0px;
        gap: 0
    }

    .nav-menu{
        height: 70px;
        top: 80px;
    }

    .nav-login-cart{
        transform: scale(0.8)
    }  
}

@media (max-width:384px) {
    
    .nav-login-cart button {
        width: 100%;
        height: 25%;
        font-size: 10px; 
    }

    .nav-menu{
        font-size: 10px;
        gap: 5px;
    }
}